/* fonts */
h1 {
    font-size: 2.4em;
    font-weight: 700;
}

h2 {
    font-size: 1.8em;
    font-weight: 500;
}

h3 {
    font-size: 1.5em;
    font-weight: 500;
}

h4 {
    font-size: 1.2em;
    font-weight: 300;
}

h5 {
    font-size: 1.1em;
    font-weight: 300;
}

/* variables */
:root {
    --light: white;
    --light90: rgba(255, 255, 255, 0.9);
    --light75: rgba(255, 255, 255, 0.75);
    --light50: rgba(255, 255, 255, 0.5);
    --light25: rgba(255, 255, 255, 0.25);
    --light10: rgba(255, 255, 255, 0.1);
    --dark: black;
    --dark90: rgba(0, 0, 0, 0.9);
    --dark75: rgba(0, 0, 0, 0.75);
    --dark50: rgba(0, 0, 0, 0.5);
    --dark25: rgba(0, 0, 0, 0.25);
    --dark10: rgba(0, 0, 0, 0.1);
    --gray: rgb(30, 30, 30);
    --accent: #2196F3;
    --danger: rgb(220, 0, 0);
    --shadow: rgba(0, 0, 0, 0.25);
}

/* animations */
@keyframes confirm {
    from {
        box-shadow: none;
        background: var(--dark50);
    }

    5% {
        box-shadow: 0px 0px 15px var(--shadow);
        background: var(--dark75);
    }

    to {
        box-shadow: none;
        background: var(--dark10);
    }
}

@keyframes fade-in {
    from {
        opacity: 0;
        display: block;
    }

    to {
        opacity: 1;
    }
}

@keyframes fade-out {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
        display: none;
    }
}

@keyframes fade-out-up {
    from {
        transform: translateY(0%);
        opacity: 1;
    }

    to {
        transform: translateY(-30px);
        opacity: 0;
    }
}

@keyframes fade-in-up {
    from {
        transform: translateY(30px);
        opacity: 0;
    }

    to {
        transform: translateY(0%);
        opacity: 1;
    }
}

@keyframes fade-out-down {
    from {
        transform: translateY(0%);
        opacity: 1;
    }

    to {
        transform: translateY(30px);
        opacity: 0;
    }
}

@keyframes fade-in-down {
    from {
        transform: translateY(-30px);
        opacity: 0;
    }

    to {
        transform: translateY(0%);
        opacity: 1;
    }
}

@keyframes fade-in-up-85 {
    from {
        transform: translateY(30px);
        opacity: 0;
    }

    to {
        transform: translateY(0%);
        opacity: 0.85;
    }
}

@keyframes fade-out-down-85 {
    from {
        transform: translateY(0%);
        opacity: 0.85;
    }

    to {
        transform: translateY(30px);
        opacity: 0;
    }
}

@keyframes fade-in-up-big {
    from {
        transform: translateY(200px);
        opacity: 0;
    }

    to {
        transform: translateY(0px);
        opacity: 1;
    }
}

@keyframes fade-out-down-big {
    from {
        transform: translateY(0px);
        opacity: 1;
    }

    to {
        transform: translateY(200px);
        opacity: 0;
    }
}

@keyframes scroll-up {
    from {
        top: 100vh;
    }

    to {
        top: 0vh;
    }
}

@keyframes scroll-down {
    from {
        top: 0vh;
    }

    to {
        top: 100vh;
    }
}

/* transition classes */
.scroll-up {
    animation: scroll-up 0.5s forwards;
}

.scroll-down {
    animation: scroll-down 0.5s forwards;
}

.fade-out-up {
    animation: fade-out-up 0.5s forwards;
}

.fade-in-up {
    animation: fade-in-up 0.5s forwards 0.2s;
}

.fade-out-down {
    animation: fade-out-down 0.5s forwards;
}

.fade-in-down {
    animation: fade-in-down 0.5s backwards 0.2s;
}

.fade-in-up-85 {
    animation: fade-in-up 0.5s forwards 0.2s;
}

.fade-out-down-85 {
    animation: fade-out-down 0.5s forwards;
}

.fade-in {
    animation: fade-in 0.5s forwards;
}

.fade-out {
    animation: fade-out 0.5s forwards;
}

.hidden {
    display: none;
}

/* page */
body {
    font-family: Avenir, sans-serif;
    font-size: 16px;
    overflow: -moz-hidden-unscrollable;
    overflow: hidden;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: var(--light);
    line-height: 1.5;
    cursor: default;
    padding: 30px 50px;
    margin: auto;
    z-index: 99;
}

header h4 {
    position: absolute;
    text-align: right;
    right: 50px;
}

#caption-two,
#caption-three {
    right: 270px;
    opacity: 0;
}

header button {
    background-color: var(--accent);
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    color: var(--light);
    transition: all 1s ease;
    opacity: 0;
}

footer {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 30px;
    z-index: 99;
}

#landing-page {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    width: 100vw;
    z-index: 1;
}

#courses {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
    z-index: 1;
}

#continue-link {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 30px;
    text-decoration: none;
    z-index: 99;
}

button {
    border: none;
    border-radius: 5px;
    padding: 15px;
    min-width: 200px;
    width: auto;
    box-shadow: 0px 0px 10px var(--shadow);
    background: var(--light);
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    color: var(--dark);
    font-weight: 500;
    opacity: 0.85;
}

button:hover {
    cursor: pointer;
    opacity: 1;
}

.section-one {
    animation: fade-in-up-big 1s forwards;
}

.section-three {
    animation: fade-out-down-big 1s forwards;
}

/* hide default checkbox */
.checkbox {
    display: none;
}

/* custom checkbox */
.container {
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
    background: var(--dark);
    font-size: 2vw;
    font-weight: bold;
    text-align: center;
    color: var(--light);
    text-shadow: 0px 0px 10px var(--shadow);
    height: 100%;
    width: 100%;
}

.container:hover {
    cursor: pointer;
    width: 150%;
    transition: all 1s;
}

.container label {
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
    background: var(--dark50);
    font-size: 2vw;
    font-weight: bold;
    text-align: center;
    color: var(--light90);
    text-shadow: 0px 0px 10px var(--shadow);
    height: 100%;
    width: 100%;
}

.large-checkbox {
    border: 4px solid var(--light90);
    border-radius: 1px;
    width: 1.3vw;
    height: 1.3vw;
    margin-right: 20px;
    line-height: 16px;
    font-size: 1.8vw;
}

.container label:hover {
    cursor: pointer;
}

.checkbox:checked+label {
    background: var(--dark25);
    color: var(--light);
    /* animation: confirm 2s forwards; */
}

.checkbox:checked+label span {
    transform: rotate(225deg);
    height: 1.6vw;
    width: 0.9vw;
    border: 8px solid var(--light);
    border-bottom: none;
    border-right: none;
    margin-bottom: 15px;
}

.checkbox:checked+label span:after {
    /* content: "✔"; */
    text-shadow: 0px 0px 5px var(--shadow);
}

/* background images */
.app {
    background: url("images/appetizer.jpg");
    background-color: var(--dark);
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.ent {
    background: url("images/entree.jpg");
    background-color: var(--dark);
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.des {
    background: url("images/dessert.jpg");
    background-color: var(--dark);
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.dri {
    background: url("images/cocktail.jpg");
    background-color: var(--dark);
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Modal Content/Box */
#restrictions-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    position: absolute;
    top: 100vh;
    background-color: var(--gray);
    color: var(--light);
    text-align: center;
    height: 100vh;
    width: 100%;
    padding: 35vh 50px 50px 50px;
    z-index: 2;
}

#ingredient-search {
    box-shadow: inset 0px 0px 2px var(--shadow);
    border-radius: 5px;
    width: 100%;
    max-width: 1000px;
    font-weight: 300;
    font-size: 1.5em;
    text-align: center;
    padding: 10px;
    margin: 30px 0px;
}

#ingredient-search:focus {
    outline: none;
}

#ingredient-search::placeholder {
    color: var(--dark10);
}

#ingredient-search:focus::placeholder {
    opacity: 0;
}

/* autocomplete */
.ui-autocomplete {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: center;
    background-color: var(--light);
    border-radius: 5px;
    width: 100%;
    max-width: 600px;
    max-height: 200px;
    text-align: center;
    overflow-y: scroll;
    overflow-x: visible;
    z-index: 2;
    user-select: none;
    transform: translateY(5px);
}

.ui-autocomplete li {
    width: 100%;
    padding: 10px;
    font-weight: 300;
}

.ui-autocomplete li:hover {
    cursor: pointer;
    background-color: var(--accent);
}

* html .ui-autocomplete {
    height: 100px;
}

.ui-helper-hidden-accessible {
    display: none;
}

#chosen-restrictions {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 1200px;
}

#chosen-restrictions p {
    transition: all 0.3s ease;
    color: var(--dark);
    background-color: var(--light90);
    border-radius: 5px;
    user-select: none;
    line-height: 1;
    padding: 10px 15px;
    margin: 0px 5px 10px 5px;
}

#chosen-restrictions p:hover {
    cursor: pointer;
    /* opacity: 0.85; */
}

/* remove restriction */
#chosen-restrictions p:after {
    transition: all 0.3s ease;
    content: "✕";
    margin-left: 10px;
    color: var(--dark25);
}

#chosen-restrictions p:hover:after {
    color: var(--dark);
}

/* search results */
#results-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 100vh;
    background: var(--gray);
    width: 100%;
    height: 100vh;
    padding: 180px 50px 50px 0px;
    overflow: scroll;
    z-index: 3;
}

/* daily planner tabs */
#day-tabs {
    display: flex;
}

.block:not(:last-child) {
    margin-bottom: 1.5rem;
}

.result {
    margin-bottom: 50px;
    max-width: 1600px;
    border-radius: 5px;
}

.result:last-of-type {
    margin-bottom: 70px;
}

.card img {
    width: 20vw;
    height: 20vw;
    border-radius: 5px;
    margin: 0px 30px 0px 0px;
}

.background-blur {
    background: var(--light90);
    -webkit-backdrop-filter: blur(50px);
    backdrop-filter: blur(50px);
    border-radius: 5px;
}

.card {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
    align-items: flex-start;
    border-radius: 5px;
    padding: 30px 50px;
    margin: auto;
}

.recipe-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: auto;
    margin: 0px auto 0px 0px;
}

.recipe-content h1 {
    width: 100%;
    border-bottom: 1px solid var(--dark);
    padding-bottom: 15px;
    margin-bottom: 30px;
}

.ingredient {
    margin: 5px;
}

.instructions {
    margin-top: 30px;
}

.tab-radio {
    display: none;
}

.tab {
    text-align: center;
    width: 150px;
    padding: 5px;
    margin: 5px;
}

.tab-radio:checked+.tab {
    color: var(--light);
}

#day-tabs {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

#plan-head {
    margin: auto 5px;
    width: 200px;
    text-align: right;
}

.credit {
    text-align: center;
    color: var(--light);
    text-decoration: none;
}

.credit a {
    cursor: pointer;
    color: var(--light);
    text-decoration: none;
}

@media screen and (max-width: 992px) {
    #courses {
        flex-direction: column;
        height: 60vh;
        margin-bottom: 10px;
    }

    .container:hover {
        width: 100%;
    }

    #landing-btns {
        flex-direction: column;
        align-items: center;
    }

    #landing-btns button {
        margin: 10px;
    }

    .ui-widget {
        flex-direction: column;
    }

    #restrictions {
        margin: auto;
        margin-top: 10px;
    }

    #day-tabs {
        flex-wrap: wrap;
        justify-content: space-between;
    }

    #plan-head {
        width: 60%;
        text-align: left;
    }

    .tab {
        width: 30%;
    }

    .card {
        flex-direction: column-reverse;
    }

    #search-res-btns {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #search-res-btns button {
        margin: 10px auto;
    }
}